black==25.1.0
build==1.2.2.post1
cfgv==3.4.0
click==8.2.1
distlib==0.4.0
equinox==0.13.0
filelock==3.18.0
flake8==7.3.0
-e git+https://github.com/BabaJaguska/HallSim.git@abd709c7928a40035eb184b64631c7787c02f9af#egg=hallsim
identify==2.6.12
iniconfig==2.1.0
jax==0.6.2
jax-metal==0.1.1
jaxlib==0.6.2
jaxtyping==0.3.2
mccabe==0.7.0
ml_dtypes==0.5.1
mypy_extensions==1.1.0
nodeenv==1.9.1
numpy==2.3.1
opt_einsum==3.4.0
packaging==25.0
pathspec==0.12.1
pip-tools==7.4.1
platformdirs==4.3.8
pluggy==1.6.0
pre_commit==4.2.0
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
pyproject_hooks==1.2.0
pytest==8.4.1
PyYAML==6.0.2
scipy==1.16.0
setuptools==80.9.0
six==1.17.0
tqdm==4.67.1
typing_extensions==4.14.1
virtualenv==20.31.2
wadler_lindig==0.1.7
wheel==0.45.1
